/*

rgb(117, 161, 33) - Theme base green 
rgba(71,119,37,1) - forest green 
#75A121 - accent orange

Zen and Tea 
#10222B - blue 
#95AB63 - mint
#BDD684 - leaf green
#E2F0D6 - light green 
#F6FFE0 - light gray

https://kuler.adobe.com/zen-and-tea-color-theme-337112/

To Do----
- If you feel like it, might go ahead and change these to RGBa, but not important
- change colors on images containing accent color, such as next/previous buttons in home brand/supplier slider
- Fix grass to remove white glow if possible, and make darker
- If you still feel like it, feel free to make some shading/color variants for the fence

*/

a { 
    color: #C44E18;
}

a:hover, a:active, a:focus {
    color: #75A121;
}

#ja-header .main .inner { /* theme.css:139 */
    padding: 20px 0 10px;
}



h1, h2, h3, h4, h5, h6, .head, .page-title { /* theme.css:74 */
    color: #fff;
}

body#bd {
	color: #666;
	background: url('http://file.brandonmcpeak.com/bg/6.jpg') no-repeat center center fixed;
}

.main { background: rgba(16, 32, 41, 0.75); }

h1#logo a { background: 
    url('http://file.brandonmcpeak.com/logo/6.png')!important;
} 

/* mega menu */
.jm-megamenu ul.level0 li.mega a.mega:hover, .jm-megamenu ul.level0 li.mega:hover > a.mega { /* jmmegamenu.css line 34 */
    background: #C44E18;
}
.jm-megamenu .childcontent-inner {  /* jmmegamenu.css line 166 */
    background: #C44E18;
}
.jm-megamenu .level2 li a.mega span { /* jmmegamenu.css line 195 */
    background: #C44E18;
}
/* end mega menu styles */

/* accent color */
#ja-botsl .content-inner { /* theme.css line 490 */
    color: #C44E18;
}

#ja-header .main {
    border-top-color: #95AB63;
}

#ja-footer .main {
    background: transparent;
    border-bottom-color: transparent;
}
#ja-footer .main .inner {
    border-top: transparent;
}

button.btn-cart {
    background-color: #C44E18;
    border-color: #C44E18;
}

/*

#ja-footer .main:before {
    content: url("http://olioj.com/bg/dog_fence_md.png");
    left: 828px;
    position: absolute;
    top: -82px;
float:left;
}

#ja-footer:before {
    content: url("http://olioj.com/bg/dog_peak_exsm.png");
 position: absolute;
float:left;
left:50px
}

#ja-footer .privacy:before {
    content: url("http://olioj.com/bg/dog_jump_sm.png");
    position: absolute;
    float:left;
    left:900px;
    top:-102px;
}

*/


#ja-footer {
    background: url("http://file.brandonmcpeak.com/patterns/fence.jpg") repeat scroll 0 -36px rgba(0, 0, 0, 0);
    position: relative;
}

#ja-header .main {
    border-top-color: rgb(71, 117, 38);
}


.jm-mask-desc a.readon {
    background: none repeat scroll 0% 0% rgb(224, 73, 5);
}

h3 {
    color: rgb(246, 255, 224);:
}

.nameAndSlogan > h2 {
    color: #ccc;
}

button.button:hover, button.button:focus, button:hover, button:focus {
    background: none repeat scroll 0% 0% rgb(224, 73, 5);
    border: 1px solid rgb(224, 73, 5);
}

#ja-footer .main .inner {
   color: rgb(226, 240, 214);
    text-align: right;
}

#ja-footer a {
    color: rgb(246, 255, 224);
    text-decoration: none;
}

#ja-footer .jm-footer-logo a { /* theme.css:644 */
    background: url('http://file.brandonmcpeak.com/logo/6.png')!important;
}


/* themes.css line 147 */
#ja-footer li a {
    color: #c44e18;
}

/* line  592 */
#ja-footer .main .inner {
    color: #444;
    text-align: right;
}

/* line  115 */
#ja-footer a {
    color: #444;
    text-decoration: none;
}

/* line606 */
#ja-footer a:hover, #ja-footer a:active, #ja-footer a:focus {
    color: #60940D;
}

/* line 629*/
#ja-footer li a:hover, #ja-footer li a:focus, #ja-footer li a:active {
    color: #60940D;
    text-decoration: none;
}


/* theme.css line 214*/
.quick-access p {
    font-size: 12px;
    color:#c44e18;
}

/* theme.css line */
.catalog-category-view #ja-container .main {
/*    background: url("../images/media/category_default_view.jpg") no-repeat scroll center top rgba(16, 32, 41, 0.75);*/
/*    background: none repeat scroll 0 0 rgba(16, 32, 41, 0.75);*/
    background: url("http://www.olioj.com/bg/category_default_view_alpha_15.png") no-repeat scroll center top rgba(16, 32, 41, 0.75);
}

/* cat.html line 200*/
.jm-megamenu .level2 li a.mega span {
    background: none repeat scroll 0 0 #C44E18 !important;
}

/* theme.css line 892*/
p.required {
    color: #c44e18;
}

/* theme.css line 887 */
label.required em {
    color: #c44e18;
    margin-right: 3px;
}

/* theme.css line 364*/
#ja-mainnav .block-cart:hover .block-title, #ja-mainnav .block-cart .block-title.active {
    background: none repeat scroll 0 0 #c44e18;
}

/* theme.css line 240*/
.shop-access a {
    color: #777;
}

/* theme.css new call */
.box-collateral.box-description > h2 {
    color: #333;
}


/* theme.css line 232*/
ul.ja-tab-navigator li.active a {
    color: #C44E18 !important;
}


/* addons.css line */
.success-msg {
    color: #666;
}

/* theme.css line 777*/
button.btn-continue, button.btn-update, button.btn-empty, button.btn-add, button.btn-share {
    color: #C44E18;
}

/* theme.css line 787*/
button.btn-proceed-checkout {
    background-color: #c44e18;
    border-color: #c44e18;
}

/* theme.css line 887*/
label.required em {
    color: #c44e18;
    margin-right: 3px;
}

/* theme.css line 870*/
.validation-failed {
    background: none repeat scroll 0 0 #F4DDD2 !important;
    border: 1px dashed #c44e18 !important;
}

/* theme.css line 266*/
.block-account li.current {
    color: #c44e18;
    font-weight: bold;
}

/* theme.css line 4376*/
.block-account li a:hover, .block-account li a:active, .block-account li a:focus {
    color: #c44e18;
}


/* theme.css line 4345*/
.block-account .block-title strong {
    color: #c44e18;
}

#my-orders-table a.link-reorder{
    color: #c44e18;
}

/* theme.css line 283*/
#my-orders-table a:hover, #my-orders-table a:focus {
    color: #75a121;
}

/* theme.css line 4439*/
.box-account .box .box-content a.button {
    background: none repeat scroll 0 0 #c44e18; 
    border: 1px solid #c44e18;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: NovecentowideNormalRegular,sans-serif;
    font-weight: normal;
    margin: 10px 0;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
}

/* theme.css line 74 (new call though) */
#jm-error .page-head-alt h3 {
    color: #60940D;
}